h1 {
    text-align: center;
    color: white;
}

table {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}


button {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

div {
    font-size: 20px;
    margin-bottom: 0px;
    color: white;

}

body {
    font-family: "Arial Rounded MT Bold";
    background-image: url("https://umad.com/img/2015/6/pencil-wallpaper-7846-8190-hd-wallpapers.jpg");
    text-align: center;
}

#currentGrade {
    margin-bottom: 20px;
}

#finalExamGradeNeeded {
    background-color: black;
    border: 1px solid white;
    position: relative;
    margin: auto;
    width: 15%;
    display: none;
}

td {
    vertical-align: middle;
}